.app filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.dmg filter=lfs diff=lfs merge=lfs -text
*.efi filter=lfs diff=lfs merge=lfs -text
*.command filter=lfs diff=lfs merge=lfs -text
/Microsoft/Boot/BCD filter=lfs diff=lfs merge=lfs -text
*.0001 filter=lfs diff=lfs merge=lfs -text
*.LOG filter=lfs diff=lfs merge=lfs -text
*.LOG1 filter=lfs diff=lfs merge=lfs -text
*.LOG2 filter=lfs diff=lfs merge=lfs -text
*.DAT filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.mui filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.p7b filter=lfs diff=lfs merge=lfs -text
/Microsoft/Recovery/BCD filter=lfs diff=lfs merge=lfs -text
*.contentFlavour filter=lfs diff=lfs merge=lfs -text
*.aml filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/ACPIBatteryManager.kext/Contents/MacOS/ACPIBatteryManager filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AirportBrcmFixup.kext/Contents/MacOS/AirportBrcmFixup filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AirportItlwm.kext/Contents/MacOS/AirportItlwm filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AppleALC.kext/Contents/MacOS/AppleALC filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AppleALCU.kext/Contents/MacOS/AppleALCU filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AppleIntelFramebufferCapri.kext/Contents/MacOS/AppleIntelFramebufferCapri filter=lfs diff=lfs merge=lfs -text
*.backup filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AppleIntelFramebufferCapri.kext/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AppleIntelSNBGraphicsFB.kext/Contents/MacOS/AppleIntelSNBGraphicsFB filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AppleIntelSNBGraphicsFB.kext/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AsusNBFnKeys.kext/Contents/MacOS/AsusNBFnKeys filter=lfs diff=lfs merge=lfs -text
*.rtf filter=lfs diff=lfs merge=lfs -text
*.strings filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/AtherosE2200Ethernet.kext/Contents/MacOS/AtherosE2200Ethernet filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/BlueToolFixup.kext/Contents/MacOS/BlueToolFixup filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/BrightnessKeys.kext/Contents/MacOS/BrightnessKeys filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/CpuTscSync.kext/Contents/MacOS/CpuTscSync filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/ECEnabler.kext/Contents/MacOS/ECEnabler filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/FakeSMC.kext/Contents/MacOS/FakeSMC filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/FakeSMC_ACPISensors.kext/Contents/MacOS/ACPISensors filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/FakeSMC_CPUSensors.kext/Contents/MacOS/CPUSensors filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/FakeSMC_GPUSensors.kext/Contents/MacOS/GPUSensors filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/FakeSMC_LPCSensors.kext/Contents/MacOS/LPCSensors filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/FakeSMC_SMMSensors.kext/Contents/MacOS/SMMSensors filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/IntelBTPatcher.kext/Contents/MacOS/IntelBTPatcher filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/IntelBluetoothFirmware.kext/Contents/MacOS/IntelBluetoothFirmware filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/IntelMausi.kext/Contents/MacOS/IntelMausi filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/Lilu.kext/Contents/MacOS/Lilu filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/MacHyperVSupport.kext/Contents/MacOS/MacHyperVSupport filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/RealtekRTL8111.kext/Contents/MacOS/RealtekRTL8111 filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/RtWlanU.kext/Contents/CodeResources filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/RtWlanU.kext/Contents/MacOS/RtWlanU filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/RtWlanU.kext/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/RtWlanU1827.kext/Contents/CodeResources filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/RtWlanU1827.kext/Contents/MacOS/RtWlanU1827 filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/RtWlanU1827.kext/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/USBInjectAll.kext/Contents/MacOS/USBInjectAll filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/USBInjectAll.kext/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VirtualSMC.kext/Contents/MacOS/VirtualSMC filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VirtualSMC.kext/Contents/Plugins/SMCBatteryManager.kext/Contents/MacOS/SMCBatteryManager filter=lfs diff=lfs merge=lfs -text
*.dsl filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VirtualSMC.kext/Contents/Plugins/SMCLightSensor.kext/Contents/MacOS/SMCLightSensor filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VirtualSMC.kext/Contents/Plugins/SMCProcessor.kext/Contents/MacOS/SMCProcessor filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VoodooI2C.kext/Contents/MacOS/VoodooI2C filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext/Contents/MacOS/VoodooGPIO filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext/Contents/MacOS/VoodooI2CServices filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooInput.kext/Contents/MacOS/VoodooInput filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VoodooI2CHID.kext/Contents/MacOS/VoodooI2CHID filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VoodooPS2Controller.kext/Contents/MacOS/VoodooPS2Controller filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext/Contents/MacOS/VoodooPS2Keyboard filter=lfs diff=lfs merge=lfs -text
/OC/Kexts/WhateverGreen.kext/Contents/MacOS/WhateverGreen filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.l2x filter=lfs diff=lfs merge=lfs -text
*.lbl filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/Frameworks/Sparkle.framework/Resources filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/Frameworks/Sparkle.framework/Sparkle filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/Frameworks/Sparkle.framework/Versions/A/Resources/Autoupdate.app/Contents/MacOS/Autoupdate filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/Frameworks/Sparkle.framework/Versions/A/Resources/Autoupdate.app/Contents/MacOS/fileop filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/Frameworks/Sparkle.framework/Versions/A/Resources/Autoupdate.app/Contents/PkgInfo filter=lfs diff=lfs merge=lfs -text
*.nib filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.lproj filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/Frameworks/Sparkle.framework/Versions/A/Sparkle filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/Frameworks/Sparkle.framework/Versions/A/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/Frameworks/Sparkle.framework/Versions/Current filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/MacOS/OpenCore[[:space:]]Configurator filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/PkgInfo filter=lfs diff=lfs merge=lfs -text
*.mom filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.ids filter=lfs diff=lfs merge=lfs -text
/OpenCore[[:space:]]Configurator.app/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/OpenCore-Patcher.app/Contents/MacOS/OpenCore-Patcher filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
/OpenCore-Patcher.app/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
